@import "reset";
$lightcolor: #f0eeee;
$darkcolor: #bc865c;

body {
  height: 90vh;
  background-color: $darkcolor;
  color: $lightcolor;
}

.border {
  margin: 2rem;
  border: 3px solid $lightcolor;
  border-radius: 0 0 2rem 2rem;
}

.menu {
  position: absolute;
  right: 15px;
  top: 15px;
}

.text {
  margin: 2rem;
}

h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  color: $darkcolor;
  background-color: $lightcolor;
  border-radius: 0 0 2rem 2rem;
  
}

h5 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  line-height: 2rem;
}
